body {
  font-family: "Open Sans", sans-serif;
}

.link {
  color: white;
  margin: 5px;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif,
}



.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}







