body {
  font-family: "Open Sans", sans-serif;
}

.link {
  color: white;
  margin: 5px;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}







