.cardBody {
}

.card-body {
  background-color: #760834;
  color: white;
  text-align: center;
}

.card {
  width: 60%;
  margin: 5% auto;
  border: 10px;
  border: solid 5px white;
}
.card a {
  text-decoration: none;
}


