.contact-background-image {
    background-image: url('./bkgdImages/card2-wine-blur.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 70vh;
  
    margin: absolute;
    background-position: 0rem;
  }

  .bread h1{
    font-weight: 600 ;
    color: #65062c;
    font-style: initial;
    
    
    }
    .feedBack {
    font-size: 1.50rem;
    font-weight: 600 ;
    color: yellow;
    font-style: italic;
    }

    label {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      font-style: initial;
    }

    .address {
    color: gold;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    }

    @media(max-width: 800px) {
      .address {
        font-size: 1.4rem;
        margin: 20px;
    }
    }

  