.header-wines {
  margin: auto;
  /* padding: 30px; */
  background-image: url("./bkgdImages/newheader-pic2.jpg");
  color: white;
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

}

.logo-header {
  color: #760834;
  font-family: 'Nunito', sans-serif;
  margin: 10px 20px;
}

@media(max-width: 600px) {
  .logo-header {
    letter-spacing: -1px;
    font-size: 1.9rem;
}
}

.adress {
  color: black;
  margin: auto;
  text-align: center;
  background-color: white;
}

.site-footer {
  background-color: #760834;
  padding: 20px 0;
  color: white;
  text-align: left;
}



.logo-footer {
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  justify-items: center;
  position: absolute;
  top: 80px;
  left: 20%;
  letter-spacing: 0.2em;
  line-height: 0.8;
}



.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #760834;
}

.nav-pad {
  padding-left: 400px;
}

.list-unstyled {
  text-align: left;
}

.delivery {
  padding-left: 200px;
}

.slogan-text1 {
  color: red !important;
  position: absolute !important;
  top: -30px !important;
  left: 780px !important;
  width: 500px !important;
  font-size: 1.7rem;
}

.slogan-text2 {
  color: red !important;
  position: absolute !important;
  top: -2px !important;
  left: 670px !important;
  width: 500px !important;
  font-size: 1.7rem;
}

.logo-position {
  position: absolute !important;
  top: -18px !important;
  right: 320px !important;
  width: 100px !important;
  background-color: rgba(0, 0, 0, 0.2);
}
